managed-src/.vs/*
managed-src/NetNapi.Managed/NetNapi.Managed.csproj.user
managed-src/packages/*
node_modules/*
src/test.ts
dist/*
managed/*
managed-src/NetNapi.Managed/bin/*
managed-src/NetNapi.Managed/obj/*
package/*
